@font-face {
    font-family: 'computer-says-no'; 
    src: url('computer-says-no.ttf') format('truetype'); 
}
html {
  scroll-behavior: smooth;
}

body{
    background-color: #0f172a;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
.radial-gradient-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    pointer-events: none;
    z-index: -1;
}
.container{
    /* border: 1px solid white; */
    width: 30%;
    margin-top: 10%;
    margin-left: 10%;
    align-items: center;
    position: fixed;
}
.container h1{
    color: aliceblue;
    background-color: rgba(255, 255, 255,0);
    align-items: center;
    text-align:center;
    font-size: 50px;
    font-family: monospace;
    transition: 500ms;
    opacity: 0.7;
}
.info{
    width: 45%;
    background-color: #0000007f;
    border-radius: 1rem;
    height: auto;
    float: right;
    margin: 300px 100px;
    backdrop-filter: blur(10px);
    transition: 500ms;
    .photo{
      margin-top: -150px;
      width: 36.6%;
      backdrop-filter: blur(5px);
      transform: translate(85%,0);
      align-items: center;
    }
    img{
      height: 1500px;
      width: auto;
      opacity: 0.5;
      border-radius: 1rem;
      transition: 1s;
    }
    .photo :hover{
      opacity: 1;
    }
}
.skills-pre{
      color: aliceblue;
      font-family: computer-says-no;
      text-align: center;
      font-size: 30px;
      width: 75%;
      padding: 40px;
      height: 580px;
      margin: auto;
      margin-top: 100px;
      margin-bottom: 100px;
}
.skills{
    margin-top: 100px;
    margin-bottom: 100px;
    display: none;
    width: 100%;
    height: 660px;
}
.skills pre{
    color: aliceblue;
    font-family: computer-says-no;
    font-size: 25px;
    background-color: #00000046;
    margin: auto;
    border-radius: 1rem;
    width: 75%;

}

.skills-pre {
  opacity: 0.5;
  transition: 500ms;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    background-color: #ffffff2f;
    margin: 5px;
    transition: 500ms;
  }
}

.skills-pre ul :hover{
  background-color: #ffffff4f;
  border-radius: 4px;
}

.products :hover{
  opacity: 1;
}
.products h1{
    color: aliceblue;
    text-align: center;
    font-family: computer-says-no;
}
.products ul{
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    transition: 500ms;
}
.products ul li{
    padding: 25px;
    background-color: #ffffff0f;
    color: aliceblue;
    margin: 50px;
    margin-top: 25px;
    border-radius: 10px;
    font-family: computer-says-no;
    font-size: 25px;
    text-align: left;
}
.products ul li a:hover{
    background-color: #0d5930;
    color: aliceblue;
}
.products ul li a{
    color:black;
    font-size: 25px;
    text-decoration: none;
    background-color: #20A45D;
    border-radius: 4px;
    float: right;
    width: 50px;
    text-align: center;
}


.intro {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 50px;
    padding: 4px;
    width: 100%;
}
.intro :hover{
  opacity: 1;
}

.social{
    border-right: 1px solid black;
}

.intro img {
    opacity: 0.7;
    width: 30px;
    margin: 0 40px;
    transition: 1s;
}

.sign{
    margin-top: 20%;
    color: aliceblue;
    font-size: 12px;
}

.box {
    position: relative;
    width: 100%;
    height: 340px;
  }
  .box-contents {
    opacity: 0.7;
    position: absolute;
    width: 90%;
    height: 260px;
    font-family: computer-says-no;
    color: aliceblue;
    font-size: 25px;
    padding: 40px;
    background-color: #ffffff23;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    transition: .5s ease;
  }
  .container :hover{
    opacity: 1;
  }
  .hover-point {
    position: absolute;
    z-index: 2;
    width: calc(100% / 3);
    height: calc(100%/ 3);
  }
  .hover-point:nth-child(1) {
    top: 0;
    left: 0;
  }
  .hover-point:nth-child(2) {
    top: 0;
    left: calc(100% / 3);
  }
  .hover-point:nth-child(3) {
    top: 0;
    right: 0;
  }
  .hover-point:nth-child(4) {
    top: calc(100% / 3);
    left: 0;
  }
  .hover-point:nth-child(5) {
    top: calc(100% / 3);
    right: 0;
  }
  .hover-point:nth-child(6) {
    bottom: 0;
    left: 0;
  }
  .hover-point:nth-child(7) {
    bottom: 0;
    left: calc(100% / 3);
  }
  .hover-point:nth-child(8) {
    bottom: 0;
    right: 0;
  }
  .hover-point:nth-child(1):hover ~ .box-contents {
    box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: right top;
    transform: perspective(1000px) rotateX(5deg) rotateY(-5deg) rotateZ(1deg);
  }
  .hover-point:nth-child(2):hover ~ .box-contents {
    box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
    transform-origin: center top;
    transform: perspective(1000px) rotateX(5deg);
  }
  .hover-point:nth-child(3):hover ~ .box-contents {
    box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
    transform-origin: left top;
    transform: perspective(1000px) rotateX(5deg) rotateY(5deg) rotateZ(-1deg);
  }
  .hover-point:nth-child(4):hover ~ .box-contents {
    box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: left center;
    transform: perspective(1000px) rotateY(-5deg);
  }
  .hover-point:nth-child(5):hover ~ .box-contents {
    box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
    transform-origin: right center;
    transform: perspective(1000px) rotateY(5deg);
  }
  .hover-point:nth-child(6):hover ~ .box-contents {
    box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: right bottom;
    transform: perspective(1000px) rotateX(-5deg) rotateY(-5deg) rotateZ(-1deg);
  }
  .hover-point:nth-child(7):hover ~ .box-contents {
    box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
    transform-origin: center bottom;
    transform: perspective(1000px) rotateX(-5deg);
  }
  .hover-point:nth-child(8):hover ~ .box-contents {
    box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
    transform-origin: left bottom;
    transform: perspective(1000px) rotateX(-5deg) rotateY(5deg) rotateZ(1deg);
  }
  
::-moz-selection{
  color: #0f172a;
  background-color: aliceblue;
}
::selection{
  color: #0f172a;
  background-color: aliceblue;
}
.cover{
  display: none;
}
.mobile-bar{
  display: none;
}
@media screen and (max-width: 600px) {

  body {
    background-image: url('photo.jpg');
    background-size: cover;
    background-position: center -200px; /* Resmi yukarı çekmek için negatif bir değer */
    background-repeat: no-repeat;
    background-attachment: fixed; /* İsteğe bağlı: Sayfa kaydırıldıkça arka planın sabit kalmasını sağlar */
  }
  .mobile-bar {
    transition: transform .5s ease;
    position: fixed;
    border-top: .5rem solid #0f172a;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background: #93cdd9;
    width: 100%;
    height: 110%;
    display: block;
    z-index: -1;
  }

  .radial-gradient-container{display: none;}

  .container {
      width: 100%;
      margin-top: 40%;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      padding-top: 10%;
      margin-left: 0;
      padding-bottom: 0;
      position: relative;
      h1{
        color: #0f172a;
        opacity: 1;
      }
      .sign{display: none;}
      .box{
        .hover-point{visibility:hidden;}
        .box-contents{
          padding: 10%;
          margin: 0;
          width: 80%;
          opacity: 1;
          color: #0f172a;
          overflow: hidden;
        }
      }

  }

  .info {
      width: 100%;
      margin: 0;
      border-radius: 0;
      background-color: #00000000;
      backdrop-filter: none;
      padding-top: 0;
      overflow: hidden;
      .skills-pre{
        margin-top: 100%;
        margin-bottom: 10%;
        transition: margin-top 0.75s ease;
        box-shadow: 0 0 50px rgba(0, 0, 0, .3);
        color: #0f172a;
        opacity: 1;
        width: 80%;
        border-radius: 1rem;
        h1{
          background-color: #00000046;
          color: #aaa;
          border-radius: 1rem;
        }
        ul li{
          background-color: #ffffff2f;
          border-radius: .5rem;
        }
        
      }

      .photo{
        display: none;
      }
  }

  .products{
    padding-bottom: 200px;
    border-radius: 1rem;
    transition: margin-top 0.75s ease;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    padding-top: 10%;
    margin-top: 100%;
    ul{
      opacity: 1;
    }
  }

  .intro{
    background-color: #0000005a;
    position: fixed;
    top: 91%;
    bottom: 0;
    height: 8%;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 0 0 rgba(0, 0, 0, .3);
    .social{
      border: none;
      a{
        img{
          opacity: 1;
        }
      }
    }
    .lang{
      display: none;
    }
  }

}